In [14]:
import pandas as pd
# load the pickle file
ingr_map = pd.read_pickle('ingr_map.pkl')
# print the first 5 rows
ingr_map.head()

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308

In [4]:
PP_recipes = pd.read_csv('PP_recipes.csv')
RAW_recipes = pd.read_csv('RAW_recipes.csv')
PP_users = pd.read_csv('PP_users.csv')
RAW_interactions = pd.read_csv('RAW_interactions.csv')

In [85]:
# find averaging rating for recipe id 65216	
RAW_interactions[RAW_interactions['recipe_id'] == 163705].rating.mean()

# find is recipe id for name crock pot angel chicken
# RAW_recipes[RAW_recipes['name'] == 'crock pot angel chicken'].id

4.4

In [29]:
RAW_recipes[RAW_recipes['name'] == 'aussie pasta salad']['ingredients'].values[0]

"['pasta', 'bacon', 'canned green beans', 'mushroom', 'green onions', 'cherry tomatoes', 'light olive oil', 'sour cream', 'garlic steak seasoning', 'mustard']"

In [57]:
def find_recipes_by_ingredients(ingredients):
    matching_recipes = RAW_recipes[RAW_recipes['ingredients'].apply(lambda x: all(ingredient in x for ingredient in ingredients))]
    
    return matching_recipes[['name', 'id']]

find_recipes_by_ingredients(['pasta', 'salad', 'mushroom'])

                                                     name      id
5334                                  angel chicken pasta   62012
27346                           bow tie chicken delicious  104390
42496                        chicken and angel hair pasta   68540
42858                                   chicken and pasta   13318
42868         chicken and pasta salad with raw vegetables  117961
46264                       chicken with angel hair pasta  179083
64112   creamy white wine sauce and italian chicken ov...  342727
65216                             crock pot angel chicken  163705
66652                             crock pot angel chicken  391559
83464      fettuccini with asparagus and garlicky chicken  298607
85980                    freeze ahead italian pasta salad   53976
110586          ila s cold chicken and pasta caesar salad  248143
111496                                 inside out ravioli  167669
112530                       italian cream cheese chicken  324381
126787                     low fat zesty shrimp and pasta  145407
132178                               maxine s pasta salad  106799
133106              mediterranean pasta salad for a crowd  172211
142193                                     my pasta salad   89572
149777  orecchiette pasta salad with artichokes and gr...  311638
158540                          perfect zesty pasta salad  379708

In [86]:
def count_and_rating(recipes):
    # Append 'count' column
    recipes['count'] = recipes['id'].apply(lambda x: RAW_interactions[RAW_interactions['recipe_id'] == x].shape[0])
    
    # Append 'rating' column
    recipes['rating'] = recipes['id'].apply(lambda x: RAW_interactions[RAW_interactions['recipe_id'] == x]['rating'].mean())
    
    # Sort by 'count' column in descending order, and then by 'rating' column in descending order
    recipes_sorted = recipes[['name', 'count', 'rating']].sort_values(by=['count', 'rating'], ascending=[False, False])
    recipes_sorted.columns = ['Recipe Name', 'Reviews (#)', 'Average Rating']
    
    return recipes_sorted

    
count_and_rating(find_recipes_by_ingredients(['pasta', 'salad', 'mushroom']))

,Recipe Name,Reviews (#),Average Rating
65216,crock pot angel chicken,40,4.400000
42496,chicken and angel hair pasta,32,4.750000
5334,angel chicken pasta,19,4.105263
46264,chicken with angel hair pasta,7,5.000000
42858,chicken and pasta,5,5.000000
27346,bow tie chicken delicious,4,4.500000
133106,mediterranean pasta salad for a crowd,3,4.666667
112530,italian cream cheese chicken,3,3.000000
42868,chicken and pasta salad with raw vegetables,2,5.000000
126787,low fat zesty shrimp and pasta,2,5.000000
66652,crock pot angel chicken,2,4.500000
85980,freeze ahead italian pasta salad,2,4.000000
64112,creamy white wine sauce and italian chicken ov...,2,2.500000
83464,fettuccini with asparagus and garlicky chicken,1,5.000000
111496,inside out ravioli,1,5.000000
132178,maxine s pasta salad,1,5.000000
149777,orecchiette pasta salad with artichokes and gr...,1,5.000000
110586,ila s cold chicken and pasta caesar salad,1,4.000000
142193,my pasta salad,1,4.000000
158540,perfect zesty pasta salad,1,4.000000

In [68]:
RAW_interactions[RAW_interactions['recipe_id'] == 44123]['rating'].mean()
RAW_interactions[RAW_interactions['recipe_id'] == 44123]['rating'].count()

4